<!DOCTYPE html>
<html>
<head>
    <title>Photography Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lightbox.css') }}">
    <style>
        .photoshoot {
            margin-bottom: 2em;
        }
        .photoshoot .images {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .photoshoot img {
            margin: 0.5em;
            max-width: 200px;
        }
    </style>
</head>
<body>
    {% for photoshoot in portfolio %}
    <div class="photoshoot">
        <h2>{{ photoshoot.title }}</h2>
        <div class="images">
            {% for image in photoshoot.images %}
            <a href="{{ url_for('static', filename=photoshoot.title + '/' + image) }}" data-lightbox="{{ photoshoot.title }}">
                <img src="{{ url_for('static', filename=photoshoot.title + '/' + image) }}" alt="Image">
            </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lightbox.js') }}"></script>
</body>
</html>
